.mainContainer {
    background-color: #F6F6EB;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: row;
}

.leftContainer {
    display: flex;
    flex-direction: column;
    flex: 2;
    padding: 5vw;
    margin: 0 2em;
    justify-content: center;
    align-self: center;
}

.title {
    font-size: min(5em, 12vh);
    font-weight: 700;
    align-self: flex-start;
    justify-content: flex-start;
}

.subtitle {
    display: flex;
    align-self: flex-start;
    font-size: min(1.5em, 2vh);
    font-weight: 500;
    margin-left: 1em;
}

.rightContainer {
    display: flex;
    flex-direction: column;
    flex: 2;
    padding: 1em;
    margin: 0 2em;
    justify-content: center;
    align-self: center;
}

.image {
    height: 65vh;
    width: auto;
}

.search {
    width: 100%;
    margin: 0.6em 0;
    padding: 1vh 0 ;
    align-content: flex-start;
}

.searchBar {
    background-color: #F6F6EB;
    width: 80%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #bcbcbcA3;
    border-bottom-width: 1px;
    padding: 0.8em 0.6em;
    align-self: flex-start;
    font-style: italic;
    font-size: 1em;
    margin-left: -3.5em;
}

.searchBar:focus {
    outline: none;
}

.submitButton {
    color: #000000;
    background-color:#ffd381 ;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: 0.56em;
    outline: none;
    transition: linear 200ms;
    border-radius: 2px;
}
.submitButton:hover {
    background-color:#e7c076;
    cursor: pointer;
    transform: translateY(-2px);
}
@media all and (max-width: 1300px) {
    .content {
        margin-top: 15vh;
        align-self: center;
    }
    .rightContainer, .leftContainer {
        margin: 0;
    }
    .image {
        height: 40vh;
        width: auto;
    }
    .searchBar{
        margin-left: 0em;
    }
}

@media all and (max-width: 900px) {
    .mainContainer {
        height: 100vh;
    }
    .content {
        flex-direction: column;
        margin-top: 5vh;
        align-self: center;
    }
    .rightContainer, .leftContainer {
        margin: 0;
        align-items: center;
    }
    .image {
        height: 40vh;
        width: auto;
    }
    .searchBar, .subtitle, .title {
        align-self: center;
    }
}

@media all and (max-width: 500px) {
    .mainContainer {
        height: 100vh;
        width: 100vw;
    }
    .content {
        margin-top: 5vh;
    }
    .title {
        font-size: min(3em, 12vw);
    }
    .image {
        height: auto;
        width: 80vw;
    }
    .searchBar {
        padding: 1vh;
        margin: 1.5em;
        width: 100%;
        text-align: center;
        font-size: min(0.6em, 5vw);
        border-bottom-width: 1;
    }
}