.resultContainer {
    background-color: #d8d8d8 ;
    height: 100vh;
    width: 100vw;
}

.resultContent {
    display: flex;
    flex-direction: row;
    padding: 1vw;
    align-items: center;
    justify-content: space-around;
}

.leftContent {
    display: flex;
    flex-direction: column;
    margin: 0 10vw;
    justify-content: center;
    align-self: center;
}

.poster {
    height: 80vh;
    background-color: tomato;
    padding: 1em;
}

.rightContent {
    display: flex;
    width: 70%;
    flex-direction: column;
    margin-right: 4em;
    justify-content: center;
    align-self: flex-start;
}

.posterTitle {
    font-size: min(4em, 15vw);
    font-weight: 700;
    text-align: center;
    justify-content: center;
    margin: 0 0 0.5em 0;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 0 3em;
}

.text {
    text-align: left;
    margin: 1vh;
    align-content: center;
    justify-content: center;
}

.resSubTitle {
    text-align: left;
    font-weight: 600;
    font-size: 1.5em;
}

.subText {
    text-align: left;
    font-size: 1.2em;
    padding-left: 0.3em;
}