.resultContainer {
    /* background-color: thistle; */
    height: 100vh;
    width: 100vw;
}

.resultContent {
    display: flex;
    flex-direction: row;
    /* background-color: teal; */
    padding: 3vw;
    align-items: center;
    justify-content: space-around;
}

.leftContent {
    display: flex;
    flex-direction: column;
    /* flex: 2; */
    padding: 1.5em;
    margin: 0 2em;
    justify-content: center;
    /* background-color: tomato; */
    align-self: center;
}

.poster {
    height: 70vh;
    /* width: auto; */
}

.rightContent {
    display: flex;
    flex-direction: column;
    /* padding: 1em; */
    margin: 0 2em;
    justify-content: center;
    align-self: center;
    background-color: tomato;
}

.posterTitle {
    font-size: min(3em, 10vw);
    font-weight: 700;
    text-align: center;
    justify-content: center;
}

.text {
    text-align: left;
    background-color: aliceblue;
    margin: 1vh;
    align-content: center;
    justify-content: center;
}

.subText {
    text-align: left;
    font-size: 1.2em;
}

.resSubTitle {
    text-align: left;
    font-weight: 600;
    font-size: 1.5em;
}